<!DOCTYPE html>
<html ng-app="vida">
<head><meta charset="utf-8">
	<title></title>
	<script src="angular.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</head>
<body>
<style type="text/css">
.contenedor-tabla{
	display: table;
	margin: 10px;
	padding: 0px 0px 8px 0px;
}
.contenedor-fila{
	display: table-row;
}
.contenedor-columna{
	display: table-cell;
	padding:10px;
	background-color: #DCFCE6;
}
.contenedor-columna2{
	display: table-cell;
	padding:4px;
	background-color: #EADDF7;
}
.contenedor{
	box-sizing:border-box;
	float:left;
	width:50%;
	padding:8px;
}

/*label.checkbox-label input[type=checkbox]{
   
    vertical-align: text-top;
    padding:8px;
}*/

</style>
<div class="contenedor-tabla">
<div class="contenedor-fila">
	<div class="contenedor-columna">
		<h4>Canvas</h4>
		<canvas id="micanvas" style="border: 1px solid;
		box-shadow: 0 0 20px #000;
		background: #fff;">
		Este texto se muestra para los navegadores no compatibles con canvas.
		<br>
		Por favor, utiliza Firefox, Chrome, Safari u Opera.
	</canvas>
</div>
<div class="contenedor-columna">
	<h4>Controles</h4>

	<div ng-controller="controlador1" >

		<div class="contenedor-columna">
		<div class="contenedor-fila">
		<div class="contenedor-columna2">
			<label class="checkbox-label"> 0 <input type="checkbox" value="0"></label> <input type="checkbox" value="0"><br>
			<label class="checkbox-label"> 1 <input type="checkbox" value="1"></label> <input type="checkbox" value="1"><br>
			<label class="checkbox-label"> 2 <input type="checkbox" value="2"></label> <input type="checkbox" value="2"><br>
			<label class="checkbox-label"> 3 <input type="checkbox" value="3"></label> <input type="checkbox" value="3"><br>
			<label class="checkbox-label"> 4 <input type="checkbox" value="4"></label> <input type="checkbox" value="4"><br>

		</div>

		<div class="contenedor-columna2">			
			<label class="checkbox-label"> 5 <input type="checkbox" value="5"></label> <input type="checkbox" value="5"><br>
			<label class="checkbox-label"> 6 <input type="checkbox" value="6"></label> <input type="checkbox" value="6"><br>
			<label class="checkbox-label"> 7 <input type="checkbox" value="7"></label> <input type="checkbox" value="7"><br>
			<label class="checkbox-label"> 8  <input type="checkbox" data-ng-model="confirmed" checked ></label> <input type="checkbox" name="bb" data-ng-model="confirmed2"><br>
			{{confirmed}}   {{confirmed2}}
		</div>
		<div class="contenedor-columna2">
			<button type="button" data-ng-click="play()" size="15px" style="line-height: 10px; font-size: 10pt">Play</button>
			<button type="button" data-ng-click="pause()" style="line-height: 10px; font-size: 10pt">Pause</button><br>
			<button type="button" data-ng-click="stopAnim()" style="line-height: 10px; font-size: 8pt">Reset</button>
			<button ng-click="randomize()" size="15px" style="line-height: 10px; font-size: 8pt">Random</button>
			<br>
		</div>
		</div>

		</div>

		dim x:<input id="sli_dim_x" type="range" min="5" max="50" step="1" ng-model="dim_x" ng-change="onchange()">
		{{dim_x}}<br>
		dim y:<input id="sli_dim_y" type="range" min="5" max="50" step="1" ng-model="dim_y" ng-change="onchange()">
		{{dim_y}}<br>
		velocidad:<input id="vel" type="range" min="5" max="500" step="5" ng-model="vel" ng-change="changevel()">
		{{vel}}
		<div style="line-height: 10px; font-size: 8pt" ng-repeat="columna in arr">
		{{columna}}</div><br>
		<div style="line-height: 10px; font-size: 8pt" ng-repeat="columna2 in temp2">
			{{columna2}}</div>
			<br>meh:{{lastt}}<br>cas:{{casillas_on}}


		</div>

		</div>
	</div>
</div>

<script>
angular.module('vida', [])
.controller('controlador1', ['$scope', '$interval',
	function($scope, $interval) {

		var arr=new Array()
		$scope.arr=arr
		$scope.temp2=new Array()
		$scope.dim_y=5
		$scope.dim_x=5
		$scope.vel=500
		$scope.playing=0
		$scope.confirmed=false
		$scope.casillas_on=0;


	$scope.init=function(array_ini){
		for (var i =0; i< $scope.dim_y; i++) {
      	temp=[]//limpia el array temporal
      	for (var j=0; j < $scope.dim_x; j++) {
      		temp[j]=0
      	}
      	array_ini[i]=temp
      }
      return array_ini
      	//$scope.temp2=$scope.arr

      }
      $scope.arr=$scope.init($scope.arr)
      $scope.temp2=$scope.init($scope.temp2)

      $scope.randomize=function(){
      	for (var i = 0; i< $scope.dim_y; i++) {
          temp=[]//limpia el array temporal
          for (var j=0; j < $scope.dim_x; j++) {
          	temp[j]=getRandom()
          }
          $scope.arr[i]=temp
      }
  }
$scope.change_size = function(mi_arr){//funcion cambio de tama;o dinamicamente
  	var temp=new Array()
	    //removemos del eje y
	    if (mi_arr.length>$scope.dim_y){
	    	for (var i = mi_arr.length; i >$scope.dim_y; i--) {
	    		mi_arr.pop()
	    	}
	    }
	  //agregamos n filas en cero
	  else if(mi_arr.length<$scope.dim_y) {
	  	for (var i = mi_arr.length; i< $scope.dim_y; i++) {
	      temp=[]//limpia el array temporal
	      for (var j=0; j < $scope.dim_x; j++) {
	      	temp[j]=0
	      }
	      mi_arr.push(temp)
	  }
	  }//agregamos n ceros al final de cada fila
	  else if(mi_arr[0].length<$scope.dim_x) {
	  	for (var i = 0; i< $scope.dim_y; i++) 	{
	      //temp=[]//limpia el array temporal
	      for (var j=mi_arr[i].length; j < $scope.dim_x; j++) {
	      	mi_arr[i].push(0)
	      }        
	  }      
	}
	  //removemos del eje x n elementos
	  else if(mi_arr[0].length>$scope.dim_x){
	  	for (var i=0; i < $scope.dim_y; i++) 	{
	  	for (var j=mi_arr[i].length; j >$scope.dim_x; j--) {
	  	//for (var i = mi_arr.length; i >$scope.dim_y; i--) 
	  	
	      //temp=[]//limpia el array temporal
	      
	      	mi_arr[i].pop()
	      }        
	  }      

	  	
	  }
	  $scope.long=mi_arr.length//test
	  $scope.anchura=mi_arr[0].length//test

	  $scope.lastt=$scope.playing//
	  //mi_arr[$scope.dim_y-1][$scope.dim_x-1]//mas test
	}

	//$scope.$watch($scope.change_size)//listener permanente...peligroso :'v

	var stop
	$scope.onchange=function(){//cuando cambia el slider dim_x odim_y agrega ceros a los arrays
		$scope.change_size($scope.arr)
		$scope.change_size($scope.temp2)
	}

	$scope.changevel=function(){
		//al mover el slider velocidad lo pausa instantaneamente y reproduce, si el cambio es rapido la funcion mantiene en pausa los milisegundos de actualizacion del slider velocidad por cuestiones del tiempo de $interval
		if($scope.playing==1){//funcion de pausa pero sin poner el playing a 0 para mantener la logica de los controles
			if (angular.isDefined(stop)) {
				$interval.cancel(stop)
				stop = undefined
  		//$scope.playing=0	
  	}
  	$scope.play()
  }
  else if ($scope.playing==0) {
  	$scope.pause()
  	$scope.playing=0
  }
}

$scope.copiar=function (origen, destino) {//copia array elemento por elemento

	for (var y = 0; y < $scope.dim_y; y++) {
		for (var x = 0; x < $scope.dim_x; x++) {
			destino[y][x] = origen[y][x];
		}
	}
	return destino;
}

$scope.eval=function(tablero,tablero_aux){
	//motor de evaluacion
	for(var y=0;y<$scope.dim_y;y++){
	for(var x=0;x<$scope.dim_x;x++){
	casillas_on=0;
	
	if ( (y-1>=0) && (x-1>=0) && (tablero[y-1][x-1]==1) ) casillas_on++;
	if ( (x-1>=0) && (tablero[y][x-1]==1) ) casillas_on++;
	if ( (y+1<$scope.dim_y) && (x-1>=0) && (tablero[y+1][x-1]==1) ) casillas_on++;
	if ( (y-1>=0) && (tablero[y-1][x]==1) ) casillas_on++;
	if ( (y+1<$scope.dim_y) && (tablero[y+1][x]==1) ) casillas_on++;
	if ( (y-1>=0) && (x+1<$scope.dim_x) && (tablero[y-1][x+1]==1) ) casillas_on++;
	if ( (x+1<$scope.dim_x) && (tablero[y][x+1]==1) ) casillas_on++;
	if ( (y+1<$scope.dim_y) && (x+1<$scope.dim_x) && (tablero[y+1][x+1]==1) ) casillas_on++;

	if (casillas_on<2) {		// Si alrededor hay menos de dos celdas vivas,
		tablero_aux[y][x]=0;	// muere por escasa población.
	}
	else if (casillas_on>3) {		// Si alrededor hay más de tres celdas vivas,
		tablero_aux[y][x]=0;	// muere por superporblación.
	}

	else if (casillas_on==3) {		// Si alrededor hay tres celdas vivas,
		tablero_aux[y][x]=1;	// vive (sigue viviendo o se crea vida).
	}

	}
}
$scope.copiar(tablero_aux,tablero)

}

$scope.play = function() {
  // Don't start a new play if we are already playing
  if ( angular.isDefined(stop) ) return;
  stop = $interval(function() {
  	$scope.eval($scope.arr, $scope.temp2)
  	draw()
  	//$scope.randomize()//aqui va la funcion a evaluar en el tiempo
	$scope.playing=1
},$scope.vel)
}

  $scope.pause = function() {
  	if (angular.isDefined(stop)) {
  		$interval.cancel(stop)
  		stop = undefined
  		$scope.playing=0	
  	}
  }

  $scope.stopAnim = function() {//resetea todo
  	$scope.temp2=[]
  	$scope.init($scope.arr)
  	$scope.init($scope.temp2)
	};

	$scope.$on('$destroy', function() {
      // Make sure that the interval is destroyed too
      $scope.pause();
  });

}])

function getRandom() {
	return Math.round(Math.random());
}
function draw(){//dibujo del canvas

    var canvas = document.getElementById('micanvas'); 
    var contexto = canvas.getContext('2d'); 
 
    contexto.fillStyle = '#D00000'; 
    contexto.fillRect(0,0,30,20); 
     contexto.fillRect(0,0,1700,1700); 
    contexto.fillStyle='#000000' 
    contexto.fillStyle = 'rgb(16,214,85,0.8)'; 
    contexto.fillRect(20,0,20,20); 
  //cambio el color a amarillo con un poco de transparencia 
  contexto.fillStyle = '#1500D0'; 
  //dibuja linea 
  contexto.moveTo(0,20); 
  contexto.lineTo(180,20); 
  contexto.strokeStyle = 'rgb(0,0,0,1)'; 
  contexto.moveTo(10,15); 
  contexto.lineTo(180,15); 
  contexto.stroke(); 
  //pinto un rectángulo amarillo semitransparente 
  contexto.fillRect(35,35,50,50); 
}
</script>
</body>
</html>
